{% extends 'learning_logs/base.html' %}

{% block title %}注册{% endblock title %}
{% block extracss %}<link href="/static/css/register.css" rel="stylesheet" type="text/css">{% endblock %}

{% block content %}
    <div id="register">
        <h3><span>欢迎注册</span></h3>
        <div>
            <form action="{% url 'users:register' %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button name="submit">注册</button>
              <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
            </form>
        </div>
    </div>
{% endblock content %}